@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(182, 182, 182, 0.478);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}