@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(182, 182, 182, 0.478);
}
header {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

/* navbar */
#navbar a:hover{
    color: rgb(197, 115, 8);
}
/* footer */

footer {
    margin-top: 30px;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* lista de contatos */

.botao-novo-contato {
    margin-bottom: 15px;
}

.Lista-contatos {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.Lista-contatos li {
    list-style: none;
    font-size: 18px;
}

.Lista-contatos a {
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
}

/* Detalhes do contato */

.contact-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #c82333;
}
